#udg
{
  width: 250px;
  margin-top: 20px;
}

#panel_principal
{
  margin: 100px;
  align: center;
  height: auto;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  border-color: #E1E1E1;
}

#panel_autos
{
  margin: 100px;
  align: center;
  height: auto;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  border-color: #E1E1E1;
}
